@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*
    At this point we can either reference the component with a fully qualified name:
*@

<MyFirstComponent />

@*
    Or edit /_Imports.razor and add "@using MyFirstBlazorApp.Client.Components".
    The using statements here are cascaded into all Razor views – which means the mark-up
    to use the new component in /Pages/Index.razor no longer needs a namespace.
*@

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

