
*.pdb
WPF/WPF_SquaredGroupBox/bin/Debug/WPF_SquaredGroupBox.exe
WPF/WPF_SquaredGroupBox/bin/Debug/WPF_SquaredGroupBox.pdb
WPF/WPF_SquaredGroupBox/obj/Debug/MainWindow.baml
WPF/WPF_SquaredGroupBox/obj/Debug/MainWindow.g.cs
WPF/WPF_SquaredGroupBox/obj/Debug/MainWindow.g.i.cs
WPF/WPF_SquaredGroupBox/obj/Debug/WPF_SquaredGroupBox.exe
WPF/WPF_SquaredGroupBox/obj/Debug/WPF_SquaredGroupBox.g.resources
WPF/SearchInExcelTemplates/.vs/SearchInExcelTemplates/v17/.suo
WPF/SearchInExcelTemplates/.vs/SearchInExcelTemplates/v16/.suo
WPF/SearchInExcelTemplates/.vs/SearchInExcelTemplates/FileContentIndex/read.lock
WPF/SearchInExcelTemplates/.vs/SearchInExcelTemplates/FileContentIndex/75edeed3-9858-49b4-bd15-2184d7391b64.vsidx
WebApplications/WebTest/BlazorApp1/.vs/BlazorApp1/FileContentIndex/6750e765-f56f-48c2-85dd-48c5a2aef347.vsidx
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/appsettings.Development.json
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/appsettings.json
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/BlazorApp1.deps.json
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/BlazorApp1.dll
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/BlazorApp1.exe
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/BlazorApp1.runtimeconfig.json
WebApplications/WebTest/BlazorApp1/bin/Debug/net6.0/BlazorApp1.staticwebassets.runtime.json
WebApplications/WebTest/BlazorApp1/obj/BlazorApp1.csproj.nuget.dgspec.json
WebApplications/WebTest/BlazorApp1/obj/BlazorApp1.csproj.nuget.g.props
WebApplications/WebTest/BlazorApp1/obj/BlazorApp1.csproj.nuget.g.targets
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/_IsIncrementalBuild
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/apphost.exe
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.AssemblyInfo.cs
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.AssemblyInfoInputs.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.assets.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.csproj.AssemblyReference.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.csproj.BuildWithSkipAnalyzers
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.csproj.CoreCompileInputs.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.csproj.FileListAbsolute.txt
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.dll
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.GeneratedMSBuildEditorConfig.editorconfig
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.genruntimeconfig.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.GlobalUsings.g.cs
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.MvcApplicationPartsAssemblyInfo.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.RazorAssemblyInfo.cache
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/BlazorApp1.RazorAssemblyInfo.cs
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/ref/BlazorApp1.dll
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/refint/BlazorApp1.dll
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/scopedcss/bundle/BlazorApp1.styles.css
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/scopedcss/projectbundle/BlazorApp1.bundle.scp.css
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/staticwebassets.build.json
WebApplications/WebTest/BlazorApp1/obj/Debug/net6.0/staticwebassets.development.json
WebApplications/WebTest/BlazorApp1/obj/project.assets.json
WebApplications/WebTest/BlazorApp1/obj/project.nuget.cache
WebApplications/WebTest/BlazorApp1/obj/staticwebassets.pack.sentinel
