@*
    Any content you intend to act as a layout template for pages must descend from the LayoutComponentBaseclass. 
    To indicate where you want the content of your page to appear you simply output the contents of the Body property.

    Note that this is not the entire HTML page. Blazor layouts work only within the part of the HTML that Blazor is defined within the wwwroot\index.html page,
    in a default Blazor application this is everything within the <app> element. 
    It isn’t currently possible to alter attributes of HTML elements outside of this scope except by use of JavaScript Interop.
*@

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
